{#
/**
 * @file
 * Default theme implementation to display a lazyloaded or responsive image.
 *
 * Available variables:
 * - image: A collection of image data.
 * - url: An optional URL the image can be linked to, can be any of audio/video,
 *     or entity URLs, when using Colorbox/Photobox, or Link to content.
 * - settings: An array containing the given settings.
 *
 * @see template_preprocess_slick_image()
 *
 * @ingroup themeable
 */
#}
{% set media %}
  {{ image }}
  {% if settings.icon is defined %} {{ settings.icon }} {% endif %}
  {% if noscript %}<noscript>{{ noscript }}</noscript>{% endif %}
{% endset %}

{% spaceless %}
  {% if url and not settings.player %}
    <a href="{{ url }}"{{ url_attributes }}>{{ media }}</a>
  {% else %}
    {{ media }}
  {% endif %}
{% endspaceless %}
